.swiper-button-next,
.swiper-button-prev
{
    color: #293278;

    top: 0;
    bottom: 0;

    display: flex;

    width: 56px;
    height: 56px;
    margin: auto;

    transition: color .2s linear;
    transform: none;

    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .07);

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-button-prev
{
    left: -28px;
}

.swiper-button-next
{
    right: -28px;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 24px;
    height: 24px;
}

.swiper-button-prev .icon
{
    transform: rotate(180deg);
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: absolute;
    bottom: -33px;
    left: 0;

    display: flex;

    width: 100%;
    height: 11px;

    pointer-events: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.swiper-pagination-bullet
{
    display: block;

    width: 11px;
    height: 11px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border: 2px solid #0098ff;
    border-radius: 50%;
    background: #0098ff;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 11px !important;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    border-color: #0098ff;
    background: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
